
 /* I am using Google fonts.  When I was choosing my fonts, I was only getting the link to put in the head of my project.  I couldn't find the CSS links anywhere So I did a google search and learned about the import links you put at the top of your CSS stylesheet and that allows all of your chosen fonts to be available.  Then I can just use the font family to style any text in my project. I hope this is ok that I used the import link */
 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gasoek+One&family=Gloria+Hallelujah&family=Indie+Flower&family=Luckiest+Guy&family=Rubik+Bubbles&family=Zeyada&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Shadows+Into+Light&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

.nav-links {
    color: darkblue;
    font-size: 1rem;
}

a {
    text-decoration: none;
    font-family: 'Bebas Neue';
    font-size: 35px;
    font-weight: bold;
}

a:visited {
    color: darkblue;
}

a:hover {
    color: red;
}

a.nav-link {
    font-size: 22px;
}

.btn {
    color: white;
    font-size: 20px;
}

body {
    background-color: lightblue;
    background-image: url(images/clouds.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Index page/ Registration Page */
.register-text {
    text-align: center;
    color: darkblue;
    font-size: 50px;
    padding-top: 100px;
    font-family: 'Bebas Neue';
}
.register {
    text-align: center;
    color: blue;
    font-size: 25px;
}

.registration-successful {
    font-family: 'Bebas Neue';
    padding-top: 50px;
    color: darkblue;
    font-size: 60px;
}

.api-key {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

#dreamSymbol {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

h4 {
    padding-top: 25px;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 40px;
    color: darkblue;
}

#interpretation {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Bebas Neue';
    padding-top: 25px;
}

/* site container method to keep footer at the bottom of the page*/
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
}
/* End of site container */


h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'Bebas Neue';
    font-size: 100px;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-family: 'Shadows Into Light';
    font-size: 50px;
}

/* Show all symbols page */
.all-symbols {
    background-color: rgb(98, 94, 231);
}

table, th, td {
    border: 2px solid;
    padding-bottom: 25px;
}

th, td {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
}

th {
    font-family: 'Bebas Neue';
    font-size: 30px;
    color: white;
}

/* Add, Edit, Delete symbol page */
#action {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-weight: bold;
}

.change-symbol {
    font-family: 'Bebas Neue';
    padding-top: 100px;
    text-align: center;
    padding-bottom: 40px;
}

.change-form {
    text-align: center;
    padding-bottom: 25px;
}

.add-form {
    text-align: center;
}

.edit-form {
    text-align: center;
}

.delete-form {
    text-align: center;
}

#symbolID {
    text-align: center;
}

.add-label, .interpretation-label, .edit-label, .new-symbol-label, .delete-label, .action-label {
    font-size: 25px;
    font-weight: bold;
}

/* Search symbols page */
.search-symbols {
    text-align: center;
}

.view-all-symbols {
    text-align: center;
    padding: 10px;
}

.search-symbol {
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
}

#submit {
    padding: 5px;
    background-color: blue;
    color: white;
}


/* Footer */
.footer {
    color: darkblue;
    text-align:center;
    font-size: 20px;
}

.footer-text {
    font-weight: bold;
    font-family: 'Bebas Neue';
}

